_docs/
wp-admin/
wp-config.php
wp-login.php

uploads/
# wp-content/plugins/
wp-content/plugins/manual-image-crop/
wp-content/plugins/members/
wp-content/plugins/regenerate-thumbnails/
wp-content/plugins/loco-translate/
wp-content/plugins/presto-player/
wp-content/plugins/brads-boilerplate-block-plugin/

wp-content/languages/
languages/

# nodejs
node_modules/
build/

# secret
vendor/
.env